body {
    padding: 0;
}

.screenOne  { /* newspaper ad NOW HIRING */
    background-image: url("../img/job\ posting2.png");
}

.screenTwo {  /* waiting lobby of office */
    background-image: url("../img/waitingRoom.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.screenThree {  /* inside office at interviewer's desk*/
    background-image: url("../img/interviewer.png");
}

.gameNameInterview {
    font-family: 'Calligraffitti';
    font-size: 127px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 5%;
}

.gameNameHide {
    display: none;
}

.hideApplyButton { /* hide APPLY button after 2 names are entered into prompt */
    display: none;
}

.hideCandidateNames { /* default for player names set at hidden until both prompts are completed */
    display: none;
}

.applyButton:hover { /* lightens button when hovered over */
    opacity: .5;
    filter: alpha(opacity=50);
}

.applyButton { /* default button settings */
    background-color: #ff6666;
    font-size: 64px;
    color: white;
    padding: 22px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-weight: 700;
    opacity: 1.0;
    filter: alpha(opacity=100);
    border: 3px solid white;
    position: relative;
    left: 35%;
    margin-top: 19%;
}

.apply {  /* div holding the button - gives it its width */
    width: 100%;
 }

 .jobDescription {  /* div holding entire job description */
    padding: 3%;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 18px;
    width: 40vw;
    background-color: #d6f1f9;
    border: 3px solid gray;
    position: absolute;
    top: 6%;
    left: 4%;
 }

 .instructions { /* heading of job description*/
    text-decoration: underline;
 }

 .topOfInstructions {  /* 2nd line of job description */
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 3%;
}

 .requireList {  /* the <li>s inside the job description */
     margin-bottom: 5%;
 }

.requireList:before {  /* check mark in front of all <li>s in job description*/
    content: "\2713";
  }

ol {   /* default hide for  */
    list-style: none; 
} 

.playerStats { /* setting for player name in screen 2 (hidden in screen 1) */
    background-color: #008080;
    color: white;
    font-size: 26px;
    width: 25vw;
    text-align: left;
    padding-left: 3%;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    line-height: 2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-left: 11px;
    border: 3px solid #adebeb;
    border-radius: 5px;
 }

 .showNewColor {  /* setting for player name/points in screen 3 */
    background-color: #6d82ce;
    position: absolute;
    color: white;
    font-size: 26px;
    width: 25vw;
    text-align: left;
    padding-left: 3%;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    line-height: 2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-left: 11px;
    border: 3px solid white;
    border-radius: 5px;
 }

.defaultPoints {  /* default for player points to be hidden */
    display: none;
}

.statsShow {   /* toggles the player points to be shown */
    display: flex;
}

.levels {  
    display: none;
}

.levelButton:hover {  /* hover for level buttons on screen 2 */
    opacity: .5;
    filter: alpha(opacity=50);
}

.levelButton {
opacity: 1.0;
filter: alpha(opacity=100);
margin-bottom: 23%;
padding: 5%;
margin-bottom: 18%;
padding: 5%;
border-radius: 10px;
font-family: 'Calligraffitti';
font-weight: bold;
}

.jrLevel {
    background-color: #cceeff;
    border: 3px solid #66ccff;
}

.midLevel {
    background-color: #99ddff;
    border: 3px solid #33bbff;
}

.srLevel {
    background-color: #66ccff;
    border: 3px solid #00aaff;
}

.active {   /* changes level buttons to be seen in screen 2 */
    font-size: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    margin-left: 34%;
    padding-top: 1%;
    width: 40vw;
    margin-left: 28%;
}

.defaultStart {   /* default for the "Begin Interview" button that later appears in screen 3. dafault is hidden */
    display: none;
}

.startQuestions {   /* changes "Begin Interview" button to show in screen 3 */
    display: flex;
    position: relative;
    width: 17vw;
    margin-left: 34%;
    font-size: 25px;
    background-color: #ff6666;
    color: white;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    border: 3px solid white;
    margin-left: 267px;
    top: 262px;
    padding: 25px; 
    border-radius: 5px; 
}

/* .theQuestion {  /* default for questions to be hidden in screen 3 */
    /* display: none;
} 

/* .theOptions {  /* default for answers to be hidden in screen 3 */
    /* display: none;
} 

/* .showEverything {  /* reveals question and answers options in screen 3 */
    /*  display: flex; font-size: 32px; */


#revealAnswers {   /* not currently being used */
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    width: 30vw;
    margin-left: 34%;
    padding-top: 5%;
}

.defaultHide {
    display: none;
}

.defaultShow {
    position: relative;
    display: flex;
    font-size: 24px;
    padding-bottom: 60px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    color: gray;
}

.defaultShow2 {
    position: relative;
    display: flex;
    font-size: 22px;
    flex-direction: column;
    color: gray;
}

.entireQuestionAdd {
    position: relative;
    margin-top: 20;
    top: 130px;
    margin-left: 33%;
    background-color: #ffc34d;
    width: 35vw;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 45px;
    padding-right: 45px;
    border: 7px solid #ffaa00;
    border-radius: 5px;
    font-size: 24px;
}

.submit {
    width: 15vw;
    align-self: center;
    background-color: #ffaa00;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    font-family: 'Calligraffitti';
    padding-top: 10px;
    font-weight: bolder;
    font-size: 35px;
}

.userTypes {
    border-radius: 5px;
}


#beginGame:hover {
    opacity: .5;
    filter: alpha(opacity=50);
}

.submit:hover {
    opacity: .5;
    filter: alpha(opacity=50);
}
    
audio { 
    display:none;
 }

